*, *::before, *::after {
  box-sizing: border-box;
}

header {
	height: 445px;
	background: linear-gradient(45deg, #ff6b83 , #9326f1);
	color: #FFFFFF;
	text-align: center;
	font-family:'Montserrat', sans-serif;
	position: relative;
}

.fala1 {
 	width: 53%;
 	position: absolute;
 	right: 0px;
 	bottom: -40px;
}

.fala2 {
 	width: 43%;
	position: absolute;
 	right: 0px;
 	bottom: 50px;
}

nav {
	text-align:center;
	font-size:24px;
	color:#7D2EAF;
	font-family:'Montserrat', sans-serif;
	position:fixed;
	width: 100%;
	background-color: #fff;
	opacity: .5;
}

li {
	display: inline;
	position: relative;
	top: -25px;
}

p {
	color:#7D2EAF;
	font-size:12px;
	font-family: 'Roboto Mono', monospace;
}

h1{
	font-size: 116px;
	margin: 0;
	padding-top: 100px;
}

h2{
	font-size:21px;
	margin: -10px;
}

a {
  	color:#7D2EAF;
	font-size:15px;
	border: 2px solid violet;
	font-family:'Montserrat', sans-serif;
	text-decoration: none;
	padding: 5px;
	position: relative;
	top: 25px;
}

a ul {
	position: relative;
	top: -100px;
}


h3{
	font-size:27px;
	color:#7D2EAF;
	font-family:'Montserrat', sans-serif;
}

.container img {
	max-width: 100%;
}

.ideas {
  	text-align:center;
	background-image: url('../images/fullbg.jpg');
 	height: 300px;
 	width: 100%;
 	position: relative;
}

.fala3 {
	width: 43%;
	position: absolute;
	left: 0px;
	bottom: -25px;
}

.ideas p {
	font-size:73px;
	color: white;
	font-family:'Montserrat', sans-serif;
	padding-top: 100px;
}

.content {
	padding: 50px;
}

